<a href="https://colab.research.google.com/github/Isaac-Gathere/Algorithms/blob/master/jupyter_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%%html
<style>
table {float:left}
</style>

<p style="color:Blue; font-size: 30px; font-weight: bold"> Introduction to Jupyter Notebook </p>


The Jupyter Notebook serves as an open-source web application that enables the creation and sharing of documents containing live code, equations, visualizations, and textual content.

Some key features of Jupyter Notebook include:

* it provides an interactive environment where you can write and execute code in cells,
* it allows you to combine documentation (formatted text using Markdown), code and visualizations
* it allows you to execute code cells individually, or all code cells at once
* it supports the integration of various data visualization libraries, making it simple to create charts, graphs, and plots directly within your documents.
* it allows to embed images, videos, and other media to your notebooks.
* it allows easy notebook Sharing in a number of platforms, such as GitHub.


# Jupyter Notebook Shortcuts
General shortcuts
* `Shift + Enter` run the current cell, select the cell below
* `Ctrl + Enter` run selected cells
* `Alt + Enter` run the current cell, insert a cell below
* `Ctrl + S` save and checkpoint

Shortcuts while in command mode (press `Esc` to activate):
* `Enter` take you into edit mode
* `H` show all shortcuts
* `Up` select cell above
* `Down` select cell below
* `Shift + Up` extend selected cells above
* `Shift + Down` extend selected cells below
* `A` insert cell above
* `B` insert cell below
* `X` cut selected cells
* `C` copy selected cells
* `V` paste cells below
* `Shift + V` paste cells above
* `D, D` (press the key twice) delete selected cells
* `Z` undo cell deletion
* `S` Save and Checkpoint
* `Y` change the cell type to Code
* `M` change the cell type to Markdown

Shortcuts while in edit mode (press `Enter` to activate):
* `Esc` take you into command mode
* `Tab` code completion or indent
* `Ctrl + ]` right indent
* `Ctrl + [` left dedent
* `Ctrl + A` select all
* `Ctrl + Z` undo
* `Ctrl + Shift + Z` or `Ctrl + Y` redo
* `Ctrl + Home` go to cell start
* `Ctrl + End` go to cell end

For more Jupter notebook shortcuts, visit: https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330

# Jupiter Text Cells
Text cells are formatted using a language called Markdown. To format Markdown cells use the following:

## Headings
Use the number sign (#) followed by a blank space for notebook titles and section headings (# Header 1, ## Header 2, ### Header 3, #### Header 4):
* # Header 1
* ## Header 2
* ### Header 3
* #### Header 4

## Text Emphisis

### Bold
Enclose the text between double stars (**TEST**) or two underscores (__TEST__) to bold text:
* **This is a bold text (double star)**  
* __ This is a bold text (double dash)__

### Italic
Enclose the text between single stars (*TEST*) or single underscores (_TEST_) to italicise text.
* *This is italic text (one star)*  
* _This is italic text (one dash)_

### Bold and Italic
Enclose the text between three stars (***TEST***) or three underscores (___TEST___) to italicise text and bold text.
* ***This is bold text***  
* ___This is bold text___

### Ordered List
To create an ordered list, use a number followed by a period in (1. Test1, 2. Test2, ... , etc.). Be sure use a new line for every item.
1. Item 1
2. Item 2
3. Item 3

### Unordered List
To create an unordered list, use a star followed by a blank space (* Test1, * Test2, ... , etc.). Be sure use a new line for every item.
* Item 1
* Item 2
* Item 3

For more information on Markdown formats, visit: https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd

<p style="color:Blue; font-size: 30px; font-weight: bold"> Introduction to Programming with Python </p>

Python is a popular programming language created by Guido van Rossum in 1989. In recent years Python has become the go-to programming language in academia due to its great libraries and frameworks in areas of **Artificial Intelligence**, **Machine Learning**, **Deep Learning**, and **Data Science**

# Python Variables
Variables are containers for storing data values. Python has no command for declaring a variable. A variable is created the moment you first assign a value to it. Variables do not need to be declared with any particular `type`and must folloow the folowing rules:
* A variable name **must start** with a **letter** or the **underscore** character
* A variable name **cannot start with a number**
* A variable name can **only contain alpha-numeric characters** and underscores (A-z, 0-9, and _ )
* Variable names are **case-sensitive** (age, Age and AGE are three different variables)

In [ ]:
x = 5
taxRate = 0.13
firstName = "Amin"
lastName = 'Ibrahim'

d = f = g = 99
a, b, c = 100, 200, 300

In [ ]:
lastName

# Python Data Types
Python has the following built-in data types:

* Text Type: 	`str`
* Numeric Types: 	`int`, `float`, `complex`
* Sequence Types: 	`list`, `tuple`, `range`
* Mapping Type: 	`dict`
* Set Types: 	`set`, `frozenset`
* Boolean Type: 	`bool`
* Binary Types: 	`bytes`, `bytearray`, `memoryview`
* None Type: 	`NoneType`

Whenever in doubt, you can get the data type of a variable using the `type()` function.

In [ ]:
x  = 1234567
type(x)

In [ ]:
type(taxRate)

# Python Type Casting
Type Casting is the method to convert the variable data type into a certain data type in order to the operation required to be performed by users.

* `int()` - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
* `float()` - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
* `str()` - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
a = int("2")    # converting string to int - a will be 2
b = int(3.95)   # converting float to int - b will be 3
c = str(100)    # converting int to string - c will be "100"
d = float(2)    # converting int to float - d will be 2.0

# Python Comments
In programming, comments can be used to explain your code. In Python, we use `#` character to add comments within our code. You can also use a short key to comment one or more lines of code using `ctrl + /`.

In [ ]:
# Here is a single line comment

# Python Operators
In Python, we have the following operator groups:
* **Arithmetic operators**
* **Assignment operators**
* **Comparison operators**
* **Logical operators**
* Identity operators
* Membership operators
* Bitwise operators

## Arithmetic operators
|Operator|Name           |Example     |
| :-:    | :-            | :-         |
|+ 	     |Addition       |10 + 5 = 15 |
|- 	     |Subtraction    |10 - 5 = 5  |
|* 	     |Multiplication |2 * 5 = 10  |
|/ 	     |Division       |2 / 4 = 0.5 |
|% 	     |Modulus        |10 % 3 = 1  |
|**      |Exponentiation |2 ** 3 = 8  |
|//      |Floor division |12 // 5 = 2 |

**NOTE:** In python the `^` operator is used to XOR two (binary) numbers.

In [ ]:
10 + 5

In [ ]:
10 - 5

In [ ]:
2 * 5

In [ ]:
2 / 4

In [ ]:
9 % 3

In [ ]:
2 ** 3

In [ ]:
15 // 7

When more than one operator appears in an expression, Python uses the same **order of precedence** as **mathematical conventions**. To specify the order in which operations are performed, you can use parentheses `(` and `)`.

In [ ]:
5+5*2

In [ ]:
(5+5)*2

## Assignment operators
Let x = 5

|Operator |Example   |Same As     |Output|
| :-:     | :-       | :-         | -:   |
|= 	      |x = 5     |x = 5       |5     |
|+=       |x += 2    |x = x + 2   |7     |
|-=       |x -= 2    |x = x - 2   |3     |
|/=       |x /= 2    |x = x / 2   |2.5   |
|%=       |x %= 2    |x = x % 2   |1     |
|**=      |x **= 2   |x = x ** 2  |25    |
|//=      |x //= 2   |x = x // 2  |1     |

In [ ]:
x = 5
x += 2 # equivalent to x = x+2
x

In [ ]:
x = 5
x -= 2 # equivalent to x = x-2
x

In [ ]:
x = 5
x *= 2 # equivalent to x = x*2
x

In [ ]:
x = 5
x /= 2 # equivalent to x = x/2
x

In [ ]:
x = 5
x %= 2 # equivalent to x = x%2
x

In [ ]:
x = 5
x **= 2 # equivalent to x = x**2
x

In [ ]:
x = 5
x //= 2 # equivalent to x = x//2
x

## Comparison Operators
Comparison operators are used to compare two values.

|Operator|Name                     |Example     |Output     |
| :-:    | :-                      | :-         | :-        |
|== 	 |Equal to                 |3 == 5      | False     |
|!= 	 |Not equal to             |3 != 5      | True      |
|> 	     |Greater than             |3 > 5       | False	    |
|< 	     |Less than                |3 < 5       | True	    |
|>= 	 |Greater than or equal to |3 >= 5      | False	    |
|<=      |Less than or equal to    |3 <= 5      | True	    |

In [ ]:
num1 = 3
num2 = 5
num1 == num2

In [ ]:
num1 != num2

In [ ]:
num1 > num2

In [ ]:
num1 < num2

In [ ]:
num1 >= num2

In [ ]:
num2 <= num2

## Logical Operators
Logical operators are used to combine conditional statements.

Let x = 3 and y = 5

|Operator|Description                                             |Example                |Output     |
| :-:    | :-                                                     | :-                    | :-        |
|and 	 |Returns True if both statements are true                |x < 10 and y > 2       | True      |
|or	     |Returns True if one of the statements is true           |x < 10 or y > 2        | True      |
|not 	 |Reverse the result, returns False if the result is true | not(x < 10 and y > 2) | False	  |

In [ ]:
x = 3
y = 5
x < 10 and y < 2 # true and false = false

In [ ]:
x < 10 or y < 2 # true or false = true

In [ ]:
not(x < 10 and y > 2)

**Example:** Write a simple program to calculate the sum of the digits in a three-digit number.

In [ ]:
num = 123
d1 = num // 100             # Get the first digit
d2 = (num - d1*100) // 10   # Get the second digit
d3 = num % 10               # Get the third digit. You can also do d3 = num - d1*100 - d2*10
total = d1 + d2 + d3
total

# Strings

In Python, strings are a sequence of characters used to represent **text**. Strings in Python are **immutable**, meaning once they are created, their content cannot be changed. Strings in python are enclosed in either **single quotation** marks (`'`), or **double quotation** marks (`"`).

In [ ]:
firstName1 = "Amin"  # is the same as firstName1 = 'Amin'

In [ ]:
firstName2 = 'Amin'

You can dispaly/print the contents of your variables using the `print` function.

In [ ]:
print("Hello,",firstName1)

In [ ]:
print("Hello,",firstName2)

You can assign a **multiline string** to a variable by using three single quotes (`'''`) or three double quotes (`"""`).

In [ ]:
text = """Welcome to MBAI 5300U.
This is an Introduction to Programming and Data Processing course!!!"""
print(text)

Strings in Python are **arrays of characters**. **Square brackets** (`[]`)can be used to access elements of the string.
**NOTE:** Array indexing starts with **0**.

In [ ]:
print(text[3]) # it prints the fourth character

You can also use the **slice syntax** (`[start of the index : end of the index]`) to return a range of characters.

In [ ]:
print(text[3:12]) # returns characters from position 3 to position 11 (12 is not included)

In [ ]:
print(text[:12]) # returns characters from the start position to position 11 (12 is not included)

In [ ]:
print(text[3:]) # returns characters from position 3 to the end position

In [ ]:
print(text[-3:]) # returns the last 3 characters (negative index to is used to count from the end of a sequene)

You can use the `len` function to determine the length of a sequence.

In [ ]:
name = "Amin"
print(len(name))

4

To concatenate, or **combine**, two or more strings you can use the `+` operator.

In [ ]:
text1 = "Hello"
text2 = "Amin!"
text3 = text1 + " to " + text2  # Note we added the space character to separate the two strings
print(text3)

## String Methods
Python provides a set of **built-in** methods for strings, which you can access using the dot (`.`) operator. Some of these methods include:

For more string methods, visit https://www.w3schools.com/python/python_strings_methods.asp

|Method               |Description                                                        |
| :-                  | :-                                                                |
|capitalize() 	      |	Converts the first character to upper case                        |
|casefold() 	      | Converts string into lower case                                   |
|format() 	          | Formats specified values in a string                              |
|isnumeric() 	      | Returns True if all characters in the string are numeric          |
|split() 	          | Splits the string at the specified separator, and returns a list  |
|strip() 	          | Returns a trimmed version of the string                           |
|upper() 	          | Converts a string into upper case                                 |

In [ ]:
text = "hello Amin"
print(text.capitalize()) #Converts the first character to upper case

In [ ]:
text = "Hello Amin"
print(text.casefold()) #Converts the text string into lower case

In [ ]:
text = "Hello Amin"
print(text.upper()) #Converts the text string into upper case

In [ ]:
text = "      hello Amin      "
print(text.strip()) #Returns a trimmed version of the text string

In [ ]:
text = "123"
print(text.isnumeric()) #Returns True if all characters in the string are numeric

**NOTE:** The `isnumeric()` methdod would return `False` if any of the characters are not numeric. E.g., the `isnumeric()` method on `text = 123.4` would return `False`

In [ ]:
text = "123.4"
print(text.isnumeric())

In [ ]:
text = "Amin Ibrahim"
print(text.split(' ')) #Splits the string at the specified separator, and returns a list

## Format Strings and Numbers
In Python, you can transform numbers and strings into different formats using either the built-in `format()` function or the string method `str.format()`.

|Method         |Description                                               |
| :-            | :-                                                       |
|<, ^, >        |Left-align, center, right-align                           |
|+              |Leading sign prefix                                       |
|,,_            |Separate numbers as a thousands with comma or underscore  |
|b, o, x, X     |Binary, octal, hexadecimal, HEXADECIMAL                   |
|f, F           |Fixed-point notation                                      |
|e, E           |Scientific notation                                       |
|%              |Percentage                                                |

In [ ]:
print("left  : {:#<15}".format("Amin"))
print("center: {:#^15}".format("Amin"))
print("right : {:#>15}".format("Amin"))

In [ ]:
print("Positive Number  : {:+}".format(123))
print("Negative Number  : {:+}".format(-123))

In [ ]:
print("Comma Separator  : {:,}".format(123456789))
print("Negative Number  : {:_}".format(123456789))

In [ ]:
print("Binary       : {:b}".format(31))
print("Octal        : {:o}".format(31))
print("hexadecimal  : {:x}".format(31))
print("HEXADECIMAL  : {:X}".format(31))

In [ ]:
print("Two decimal Points   : {:.2f}".format(123.456))
print("Two decimal Points   : {:.1F}".format(123.456))

In [ ]:
print("Scientific notation  : {:e}".format(123456))
print("Scientific notation  : {:E}".format(123456))
print("Scientific notation with fixed-point : {:.3e}".format(123456))

In [ ]:
print("Percenatge                  : {:%}".format(0.5554))
print("Percentage with fixed-point : {:.2%}".format(0.5554))

In [ ]:
# Formating price price to two decimal places with $ symbol
text = "The total price is ${price:.2f} dollars!"
print(text.format(price = 105.2364))  # formats the price to two decimal places

# Lists

Lists in Python are powerful data structure used to store **multiple items** in a **single variable**. Lists are created using square brackets (`[]`) and they are **ordered**, **changeable**, and allow **duplicate** values.

In [ ]:
lastNames = ["Ibrahim", "David", "Bob"]
print(len(lastNames))     #similar to the String type, we can use the len() function to count the number of items in a list

A list can contain different data types:

In [ ]:
mylist = ["Amin", 26, 26.55, True, [1, 2]]
print(len(mylist))

Just like Strings,lists maintain the order of items based on their position within the list. This means that items are **indexed starting from 0** and can be **accessed/modified** by referring to the index number.

In [ ]:
print(lastNames[1])

In [ ]:
lastNames[1] = "Mohammed"
print(lastNames)

## List Methods

Python provides a set of built-in methods for working with lists. Much like with string methods, you can access these methods using the dot (`.`) operator.

|Method     |Description                                                                  |
| :-        | :-                                                                          |
|append()	|Adds an element at the end of the list                                       |
|clear()	|Removes all the elements from the list                                       |
|copy()	    |Returns a copy of the list                                                   |
|count()	|Returns the of times a specified value occurs in a list                      |
|extend()	|Add the elements of a list (or any iterable), to the end of the current list |
|index()	|Searches the tuple for a specified value and returns the position of where it was found |
|insert()	|Adds an element at the specified position                                    |
|pop()	    |Removes the element at the specified position                                |
|remove()	|Removes the item with the specified value                                    |
|reverse()	|Reverses the order of the list                                               |
|sort()	    |Sorts the list                                                               |

In [ ]:
lastNames = ["Ibrahim", "David", "Bob"]
lastNames

In [ ]:
lastNames.append("David") #Adds the string "David" at the end of the list
lastNames

In [ ]:
lastNames.reverse() #Reverses the order of the list
lastNames

In [ ]:
lastNames.sort() #Sorts the list ascending order
lastNames

In [ ]:
lastNames.sort(reverse=True) #Sorts the list descending order
lastNames

In [ ]:
lastNames.pop(1) #Removes the element at the specified position
lastNames

In [ ]:
lastNames.pop() #If no index specified, it removes the last element of the list
lastNames

# Tuples

A tuple is a collection that is **ordered**, **immutable**, and allows **duplicate values**. Tuples are created using round (`()`) brackets.

In [ ]:
myTuple = ("apple", "banana", "cherry", "apple", "cherry")
print(myTuple)

A tuple can contain different data types:

In [ ]:
myTuple = ("Amin", 26, 26.55, True, (1, 2))
print(myTuple)

Just like lists, tuples items are indexed and you can access them by referring to the index number.

In [ ]:
print(myTuple[0])

In [ ]:
print(myTuple[1:4]) #Starting index 1, ending at 3

You can use the `len` function to determine the numeber of itmes in a tuple.

In [ ]:
print(len(myTuple))

 You can convert tuples into a list, and lists into tuples.

In [ ]:
myTuple = ("Amin", "David")
myList = list(myTuple)
print(myTuple)
print(myList)

In [ ]:
myList = ["Amin", "David"]
myTuple = tuple(myList)
print(myList)
print(myTuple)

## Tuple Methods
Python has **two** built-in methods (functions) that you can use on Tuples. Similar to list methods, we use the dot (.) operator to invoke (access) these methods.

|Method     |Description                                                                                  |
| :-        | :-                                                                                          |
|count()	|Returns the number of times a specified value occurs in a tuple                              |
|index()	|Searches the tuple for a specified value and returns the position of where it is found first |

In [ ]:
lastNames = ("Ibrahim", "David", "Bob", "Ibrahim")
print(lastNames.count("Ibrahim"))

In [ ]:
print(lastNames.index("Ibrahim"))

# Sets
A set is a collection of **unordered** and **immutable** values. Sets **do NOT allow duplicate values**. Sets are created using curly (`{}`) brackets.

In [ ]:
mySet = {"Apple", "Orange", "Banana", "Apple"}
print(mySet)

You can use the `len` function to determine the numeber of itmes in a set.

In [ ]:
print(len(mySet))

A set can contain different data types:

In [ ]:
mySet = {"Amin", 26, 26.55, True, (1, 2)}
print(mySet)

## Set Methods
Python has a set of built-in methods (functions) that you can use on sets. Similar to list methods, we use the dot (`.`) operator to invoke (access) these methods.

|Method                         |Description                                                                    |
| :-                            | :-                                                                            |
|add()	                        |Adds an element to the set                                                     |
|clear()	                    |Removes all the elements from the set                                          |
|copy()	                        |Returns a copy of the set                                                      |
|difference()	                |Returns a set containing the difference between two or more sets               |
|difference_update()	        |Removes the items in this set that are also included in another specified set |
|discard()	                    |Removes the specified item                                                      |
|intersection()	                |Returns a set, that is the intersection of two other sets                      |
|intersection_update()	        |Removes the items in this set that are not present in other, specified set(s)  |
|isdisjoint()	                |Returns whether two sets have a intersection or not                            |
|issubset()	                    |Returns whether another set contains this set or not                           |
|issuperset()	                |Returns whether this set contains another set or not                           |
|pop()	                        |Removes the last element from the set                                          |
|remove()	                    |Removes the specified element                                                  |
|symmetric_difference()	        |Returns a set with the symmetric differences of two sets                       |
|symmetric_difference_update()	|Inserts the symmetric differences from this set and another                    |
|union()	                    |Return a set containing the union of sets                                      |
|update()	                    |Update the set with the union of this set and others                           |

In [ ]:
mySet = {"Amin", 26, 26.55, True, (1, 2)}
mySet

The main difference between the `remove()` and `discard()` method is that the `remove()` method will give an error if the specified item does not exist, and the `discard()` method will not.

In [ ]:
mySet.remove(26)
mySet

In [ ]:
mySet.discard(True)
mySet

In [ ]:
set1 = {1, 2, 3, "A", "B", "C"}
set2 = {1, 2, "A", "D"}
print("The union of set1 and set2")
print(set1.union(set2))

print("The intersection of set1 and set2")
print(set1.intersection(set2))

print("The set differnce of set1 and set2")
print(set1.difference(set2))

print("The set differnce of set2 and set1")
print(set2.difference(set1))

# Dictionaries

A dictionary is a collection of **ordered** and **mutable values** stored in **key:value** pairs. Dictionaries **allow duplicate** values but **do not permit duplicate keys**. They are created using curly brackets `{}`.

In [ ]:
personalInfo = {
"Name": "Amin Ibrahim",
"Age": 25,
"Height": 1.75
}
print(personalInfo)

In a dictionary, you use a key inside square brackets `[]` to access or modify its associated value.

In [ ]:
print(personalInfo["Name"])

In [ ]:
personalInfo["Age"] = 36
print(personalInfo)

We can add additional key:value pair into an existing dictionary.

In [ ]:
personalInfo["Hobby"] = ["Swimming", "Running", "Reading books"]
print(personalInfo)

## Dictionary Methods
Python has a set of built-in methods (functions) that you can use on Dictionaries. Similar to list methods, we use the dot (.) operator to invoke (access) these methods.

|Method        |Description                                                  |
| :-           | :-                                                          |
|clear()	   |Removes all the elements from the dictionary                 |
|copy()	       |Returns a copy of the dictionary                             |              
|fromkeys()	   |Creates a dictionary with specified keys and a specific value|
|get()	       |Returns the value of the specified key                       |
|items()	   |Returns a list containing a tuple for each key value pair    |
|keys()	       |Returns a list containing the dictionary's keys              |
|pop()	       |Removes the element with the specified key                   |
|popitem()	   |Removes the last inserted key-value pair                     |
|setdefault()  |Returns the value of the specified key. If the key does not exist: insert the key, with the specified value|
|update()	   |Updates the dictionary with the specified key-value pairs    |
|values()	   |Returns a list of all the values in the dictionary           |

The `fromkeys()` method in Python is used with dictionaries to create a **new dictionary** with specified keys, **all initialized to the same value**.

In [ ]:
keys = ('key1', 'key2', 'key3')
values = 123
myDict = dict.fromkeys(keys, values)
print(myDict)

In [ ]:
myDict["key1"] = 55   #Change the value of key1 to 55
print(myDict.items()) #Print a list containing a tuple for each key value pair

In [ ]:
print(myDict.values()) #Print a list of all the values in the dictionary

In [ ]:
print(myDict.keys()) #Print a list containing the dictionary's keys

In [ ]:
myDict.update({"key3": 66}) #Update the dictionary with the specified key-value pairs
print(myDict)